.env
*.swp

_host-volumes/*

!_host-volumes/dbconfig

_host-volumes/dbconfig/*
!_host-volumes/dbconfig/myopt.cnf

!_host-volumes/yii-project

_host-volumes/yii-project/*

!_host-volumes/yii-project/.vscode

_host-volumes/yii-project/.vscode/*
!_host-volumes/yii-project/.vscode/launch.json
!_host-volumes/yii-project/.vscode/settings.json

!_host-volumes/yii-project/app

_host-volumes/yii-project/app/*
!_host-volumes/yii-project/app/.gitkeep

\.idea/
